/.vs
/.vscode
/.idea
/Assets/AddressableAssetsData
/Assets/Animations
/Assets/AssetBundles
/Assets/BundlesFiles
/Assets/DownloadBundles
/Assets/DownloadData
/Assets/Editor
/Assets/Fonts
/Assets/Libs
/Assets/Materials
/Assets/Models
/Assets/Music
/Assets/Prefabs
/Assets/Samples
/Assets/Scenes
/Assets/Shaders
/Assets/Sound
/Assets/TextMesh Pro
/Assets/Textures
/Assets/URPSettings
/Assets/Video
/Assets/Scripts/Network/Plugins
/Library
/Logs
/obj
/Packages
/ProjectSettings
/UserSettings
/Temp
*.meta
*.tsntry
*.blob
*.asset
